# Object & Data Structure Basics

### Numbers

In [1]:
2+1

3

In [2]:
2+2

4

In [3]:
2-1

1

In [4]:
3-2

1

In [5]:
2*2

4

In [6]:
3*2

6

In [7]:
3/2

1.5

I'm using Python 3 (3/2 = 1.5) but for Python 2 (3/2 = 1)

Python 3 uses true division and Python 2 uses classic division

In [8]:
3.0/2

1.5

In [9]:
3/2.0

1.5

In [10]:
float(3)/2

1.5

In [11]:
float(3)

3.0

In [12]:
from __future__ import division

If you use Python 2, you can use this to use the same division function as Python 3

In [13]:
3/2

1.5

In [14]:
2**3

8

In [15]:
4**5

1024

In [16]:
4**0.5

2.0

In [17]:
2 + 10 * 10 + 3

105

In [18]:
(2+10)*(10+3)

156

In [19]:
a = 5

In [20]:
a

5

In [21]:
a+a

10

In [22]:
a = 10

In [23]:
a

10

In [24]:
a = a+a

In [25]:
a

20

In [26]:
my_income = 100

In [27]:
tax_rate = 0.1

In [28]:
my_taxes = my_income * tax_rate

In [29]:
my_taxes

10.0

### Strings

In [30]:
'Hello'

'Hello'

In [31]:
'This is also a string'

'This is also a string'

In [32]:
"This is a string"

'This is a string'

Sometimes you have to use double quotes instead of single quotes in order to avoid errors.

In [33]:
"I'm a string"

"I'm a string"

In [34]:
' "this is a quote" '

' "this is a quote" '

In [35]:
'Hello World'

'Hello World'

In [36]:
'Hello World 1'
'Hello World 2'

'Hello World 2'

It only printed the second string which is why you need to use print statements.

In [37]:
print('Hello World 1')
print('Hello World 2')

Hello World 1
Hello World 2

In [38]:
print('Here is a new line \n and here is the second line')

Here is a new line
 and here is the second line

In [39]:
print('Here is a new line \t and here is the second line')

Here is a new line 	 and here is the second line

Python 3 uses print('statements') but Python uses print 'statements'.

In [40]:
from __future__ import print_function

In [41]:
len('Hello World')

11

In [42]:
s = 'Hello World'
print(s)

Hello World

In [43]:
s

'Hello World'

In [44]:
s[0]

'H'

In [45]:
s[1]

'e'

In [46]:
s[1:]

'ello World'

In [47]:
s

'Hello World'

In [48]:
s[:3]

'Hel'

In [49]:
s

'Hello World'

In [50]:
s[:]

'Hello World'

In [51]:
s[-1]

'd'

In [52]:
s[:-1]

'Hello Worl'

In [53]:
s[::1]

'Hello World'

In [54]:
s[::2]

'HloWrd'

In [55]:
s[::-1]

'dlroW olleH'

In [56]:
'immutability'

'immutability'

In [57]:
s

'Hello World'

Once you create a string, you can't change around elements. For example, s[0] = 'x' wouldn't work because strings are immutable.

In [58]:
s + ' concatenate me!'

'Hello World concatenate me!'

In [59]:
s = s + ' concatenate me!'
s

'Hello World concatenate me!'

In [60]:
letter = 'z'
letter

'z'

In [61]:
letter * 10

'zzzzzzzzzz'

In [62]:
letter = 'zz'

In [63]:
letter * 10

'zzzzzzzzzzzzzzzzzzzz'

In [64]:
s = 'Hello'
s

'Hello'

In [65]:
s.upper()

'HELLO'

In [66]:
s.lower()

'hello'

In [67]:
s.split()

['Hello']

In [68]:
s.split('e')

['H', 'llo']

The method is upper() which uppercases the string. The method is lower() which lowercases the string. The method is split() which splits the string.

### Print Formatting

In [69]:
print('This is a string')

This is a string

In [70]:
x = 'String'
print('Place my variable here: %s' %(x))

Place my variable here: String

%s is used for strings.

In [71]:
x = 123
print('Place my variable here: %s' %(x))

Place my variable here: 123

In [72]:
x = 13.13
print('Place my variable here: %s' %(x))

Place my variable here: 13.13

In [73]:
print('Floating point number: %1.2f' %(13.145))

Floating point number: 13.14

The 1 represents the total minimum number of digits the string should contain and 2 represents how many numbers are displayed after the decimal point.

In [74]:
print('Floating point number: %1.3f' %(13.145))

Floating point number: 13.145

In [75]:
print('Floating point number: %1.10f' %(13.145))

Floating point number: 13.1450000000

In [76]:
print('Floating point number: %25.3f' %(13.145))

Floating point number:                    13.145

In [77]:
print('Floating point number: %1.3f' %(13.145))

Floating point number: 13.145

In [78]:
print('Convert to string %s' %(123))

Convert to string 123

In [79]:
print('Convert to string %r' %(123))

Convert to string 123

In [80]:
print('First: %s, Second: %s, Third: %s' %('hi!', 'two', 3))

First: hi!, Second: two, Third: 3

In [81]:
print('First: %s, Second: %s' %(2,2))

First: 2, Second: 2

In [82]:
print('First: {x} Second: {x}'.format(x='inserted'))

First: inserted Second: inserted

In [83]:
print('First: {x} Second: {y} Third: {x}'.format(x='inserted', y='two!'))

First: inserted Second: two! Third: inserted

In [84]:
print('One: {x}'.format(x='INSERT!'))

One: INSERT!

.format is the print formatting method. The {variable name} and the .format(defines each variable).

### Lists

In [85]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [86]:
my_list = ['string',23,1.2,'o']
my_list

['string', 23, 1.2, 'o']

In [87]:
len(my_list)

4

In [88]:
my_list = ['one','two','three',4,5]

In [89]:
my_list[0]

'one'

In [90]:
my_list[1:]

['two', 'three', 4, 5]

In [91]:
my_list[:3]

['one', 'two', 'three']

In [92]:
'hello' + ' world'

'hello world'

In [93]:
my_list

['one', 'two', 'three', 4, 5]

In [94]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [95]:
my_list

['one', 'two', 'three', 4, 5]

In [96]:
my_list = my_list + ['permanent add']
my_list

['one', 'two', 'three', 4, 5, 'permanent add']

In [97]:
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'permanent add',
 'one',
 'two',
 'three',
 4,
 5,
 'permanent add']

In [98]:
my_list

['one', 'two', 'three', 4, 5, 'permanent add']

Lists in Python are similar to Arrays but lists are more flexible. Lists can be as long as you want without constraints.

In [99]:
l =[1,2,3]
l

[1, 2, 3]

In [100]:
l.append('append me!')
l

[1, 2, 3, 'append me!']

variable_name.method() and this is used for methods.

In [101]:
l.pop()

'append me!'

In [102]:
l

[1, 2, 3]

.pop() method permanently takes away the last element on list.

In [103]:
x = l.pop(0)
x

1

In [104]:
l

[2, 3]

In [105]:
l[1]

3

In [106]:
l[0]

2

In [107]:
new_list = ['a','e','x','b','c']
new_list

['a', 'e', 'x', 'b', 'c']

In [108]:
new_list.reverse()
new_list

['c', 'b', 'x', 'e', 'a']

In [109]:
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [110]:
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

In [111]:
matrix = [l_1,l_2,l_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [112]:
matrix[0]

[1, 2, 3]

In [113]:
matrix[0][1]

2

In [114]:
matrix[1][1]

5

In [115]:
matrix[2][0]

7

In [116]:
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

In [117]:
second_col = [row[1] for row in matrix]
second_col

[2, 5, 8]

In [118]:
third_col = [row[2] for row in matrix]
third_col

[3, 6, 9]

### Dictionaries

In [119]:
l = [1,2,3]

In [120]:
l[0]

1

In [121]:
my_dict = {'key1':'value','key2':'value2'}

In [122]:
my_dict['key1']

'value'

In [123]:
my_dict = {'k1':123,'k2':3.4,'k3':'string'}

In [124]:
my_dict['k1']

123

In [125]:
my_dict['k2']

3.4

In [126]:
my_dict['k3']

'string'

In [127]:
my_dict['k3'][0]

's'

In [128]:
my_dict['k3'][::]

'string'

In [129]:
my_dict['k3'][1::]

'tring'

In [130]:
my_dict['k3'][::-1]

'gnirts'

In [131]:
my_dict['k3'].upper()

'STRING'

In [132]:
my_dict['k1']

123

In [133]:
my_dict['k1'] - 120

3

In [134]:
my_dict['k1'] = my_dict['k1'] - 120

In [135]:
my_dict['k1']

3

In [136]:
my_dict

{'k1': 3, 'k2': 3.4, 'k3': 'string'}

In [137]:
my_dict['k1']

3

In [138]:
my_dict['k1'] = my_dict['k1'] + 100

In [139]:
my_dict['k1']

103

In [140]:
my_dict['k1'] += 100

In [141]:
my_dict['k1']

203

In [142]:
d = {}
d

{}

In [143]:
d['animal'] = 'Dog'

In [144]:
d['answer'] = 42

In [145]:
d

{'animal': 'Dog', 'answer': 42}

This way you can add new assignments to dictionary.

In [146]:
d = {'k1': {'nestkey': {'subnestkey':'value'}}}
d

{'k1': {'nestkey': {'subnestkey': 'value'}}}

In [147]:
d['k1']

{'nestkey': {'subnestkey': 'value'}}

In [148]:
d['k1']['nestkey']

{'subnestkey': 'value'}

In [149]:
d['k1']['nestkey']['subnestkey'].upper()

'VALUE'

In [150]:
d = {}
d

{}

In [151]:
d['k1'] = 1
d['k2'] = 2
d['k3'] = 3
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [152]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [153]:
d.values()

dict_values([1, 2, 3])

In [154]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

### Tuples

In [155]:
l = [1, 2, 3]
l

[1, 2, 3]

In [156]:
t = (1, 2, 3)
t

(1, 2, 3)

In [157]:
len(t)

3

In [158]:
t = ('one', 2)
t

('one', 2)

In [159]:
t[0]

'one'

In [160]:
t[1]

2

In [161]:
t[-1]

2

In [162]:
t.index('one')

0

In [163]:
t.index(2)

1

In [164]:
t.count('one')

1

In [165]:
t = (1, 1, 2, 3)

In [166]:
t.count(1)

2

Tuples are immutable, so items inside the tuple can't be changed.

In [167]:
l = [1, 2, 3]
l

[1, 2, 3]

In [168]:
t = (1, 2, 3)

In [169]:
l[0] = 's'
l

['s', 2, 3]

Tuples has fewer methods to use compared to lists. Tuples can only use two methods; count and index. Tuples are used in order to avoid changing the sequences by mistake.

### Sets

In [170]:
x = set()
x

set()

In [171]:
x.add(1)
x

{1}

In [172]:
x.add(2)
x

{1, 2}

In [173]:
l = [1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4]
l

[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4]

In [174]:
set(l)

{1, 2, 3, 4}

### Booleans

In [175]:
a = True
a

True

In [176]:
1 > 2

False

In [177]:
11 > 2

True

In [178]:
b = None
b

In [179]:
b = 'a'
b

'a'