# Statements

### If, Elif & Else

In [1]:
if True:
    print('It was True')

It was True

In [2]:
if False:
    print('It was True')

In [3]:
x = False

if x:
    print('x was True')
else:
    print('I will print when x is anything not True')

I will print when x is anything not True

In [4]:
x = True

if x:
    print('x was True')
else:
    print('I will print when x is anything not True')

x was True

In [5]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

In [6]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the Auto Shop!

In [7]:
loc = 'Mall'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Where are you?

In [8]:
loc = 'Mall'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
elif loc == 'Mall':
    print('Welcome to the mall!')
else:
    print('Where are you?')

Welcome to the mall!

In [9]:
person = 'Sam'

if person == 'Sam':
    print('Hi Sam!')
else:
    print("What's your name?")

Hi Sam!

In [10]:
person == 'Sam'

True

### For Loops

For loops acts as an iterator, goes through items that are in a sequence.

In [11]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [12]:
for element in l:
    print(element)

1
2
3
4
5

In [13]:
for num in l:
    print(num)

1
2
3
4
5

In [14]:
for num in l:
    print('something!')

something!
something!
something!
something!
something!

In [15]:
10 % 3

1

% = Modulo(It's division and result is the remainder).

In [16]:
18 % 7

4

In [17]:
4 % 2

0

In [18]:
7 % 2

1

In [19]:
l

[1, 2, 3, 4, 5]

In [20]:
for num in l:
    if num % 2 == 0:
        print(num)

2
4

In [21]:
for num in l:
    if num % 2 == 1:
        print(num)

1
3
5

In [22]:
for num in l:
    if num % 2 == 0:
        print("Here is an even number")
    else:
        print("Odd number!")

Odd number!
Here is an even number
Odd number!
Here is an even number
Odd number!

In [23]:
for num in l:
    if num % 2 == 0:
        print(num)
    else:
        print("Odd number!")

Odd number!
2
Odd number!
4
Odd number!

In [24]:
l

[1, 2, 3, 4, 5]

In [25]:
list_sum = 0

for num in l:
    list_sum = list_sum + num
    
print(list_sum)

15

In [26]:
s = 'This is a string!'

In [27]:
for item in s:
    print(item)

T
h
i
s

i
s

a

s
t
r
i
n
g
!

In [28]:
for letter in s:
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
!

In [29]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [30]:
for item in tup:
    print(item)

1
2
3
4
5

In [31]:
l = [(2,4),(6,8),(10,12)]
l

[(2, 4), (6, 8), (10, 12)]

In [32]:
l[0]

(2, 4)

In [33]:
l[0][0]

2

In [34]:
l[2][0]

10

In [35]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [36]:
for (t1,t2) in l:
    print(t1)

2
6
10

In [37]:
for (t1,t2) in l:
    print(t2)

4
8
12

In [38]:
for (t1,t2) in l:
    print(t1-t2)

-2
-2
-2

In [39]:
for (t1,t2) in l:
    print(t1+t2)

6
14
22

In [40]:
d = {'k1':1, 'k2':2, 'k3':3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [41]:
for item in d:
    print(item)

k1
k2
k3

In [42]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

### While Loops

In [43]:
x = 0

while x < 10:
    print('x is currently: ',x)
    x += 1

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9

While loops run until the condition is met.

In [44]:
x = 0

while x < 10:
    print('x is currently ',x)
    x += 1
    
else:
    print('All done!')

x is currently  0
x is currently  1
x is currently  2
x is currently  3
x is currently  4
x is currently  5
x is currently  6
x is currently  7
x is currently  8
x is currently  9
All done!

Else statement is run after while loop is done.

### Break, Continue & Pass Statements

In [45]:
x = 0

while x < 10:
    print('x is currently ',x)
    print('x is still less than 10, adding 1 to x')
    x += 1
    
    if x==3:
        print('Hey x equals 3!')
    else:
        print('continuing')
    continue

x is currently  0
x is still less than 10, adding 1 to x
continuing
x is currently  1
x is still less than 10, adding 1 to x
continuing
x is currently  2
x is still less than 10, adding 1 to x
Hey x equals 3!
x is currently  3
x is still less than 10, adding 1 to x
continuing
x is currently  4
x is still less than 10, adding 1 to x
continuing
x is currently  5
x is still less than 10, adding 1 to x
continuing
x is currently  6
x is still less than 10, adding 1 to x
continuing
x is currently  7
x is still less than 10, adding 1 to x
continuing
x is currently  8
x is still less than 10, adding 1 to x
continuing
x is currently  9
x is still less than 10, adding 1 to x
continuing

In [46]:
x = 0

while x < 10:
    print('x is currently ',x)
    print('x is still less than 10, adding 1 to x')
    x += 1
    
    if x==3:
        print('Hey x equals 3!')
        break
    else:
        print('continuing')
    continue

x is currently  0
x is still less than 10, adding 1 to x
continuing
x is currently  1
x is still less than 10, adding 1 to x
continuing
x is currently  2
x is still less than 10, adding 1 to x
Hey x equals 3!

Pass doesn't do anything.

### Range()

In [47]:
range(10)

range(0, 10)

In [48]:
x = range(10)
x

range(0, 10)

In [49]:
type(x)

range

In [50]:
start = 5
stop = 20
range(start, stop)

range(5, 20)

In [51]:
start = 0
stop = 20

range(start, stop,2)

range(0, 20, 2)

In [52]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [53]:
for num in l:
    print(num)

1
2
3
4
5

In [54]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [55]:
for num in range(1,7):
    print(num)

1
2
3
4
5
6

In [56]:
x = range(1,6)
type(x)

range

In [57]:
list(x)

[1, 2, 3, 4, 5]

In [58]:
x == list(x)

False

Python 3 replaces xrange() from Python 2 with range() and it behaves as a generator.

### List Comprehensions

In [59]:
l = []

for letter in 'word':
    l.append(letter)
print(l)

['w', 'o', 'r', 'd']

In [60]:
lst = [letter for letter in 'word']
lst

['w', 'o', 'r', 'd']

In [61]:
lst = [x**2 for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
lst = [number for number in range(11) if number % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [63]:
lst = []

for number in range(11):
    if number % 2 == 0:
        lst.append(number)
lst

[0, 2, 4, 6, 8, 10]

In [64]:
celsuis = [0,10,20.1,34.5]

fahrenheit = [temp for temp in celsuis]
fahrenheit

[0, 10, 20.1, 34.5]

In [65]:
fahrenheit = [(temp * (9/5) + 32) for temp in celsuis]
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [66]:
lst = [x**2 for x in range(11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
#Final result is x**4 for num in range(11)

lst = [x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]