# SELECT Statement

In [1]:
#SELECT column1, column2,... 
#FROM table_name;

#All columns:
#SELECT * 
#FROM table_name;

In [2]:
#Selecting all(*) is bad practice, only choose the ones you need
#Database server works harder which slows down application
#SQL is case insensitive(SELECT or select will work)

#### Example: Postgres SQL dvdrental.tar file

In [3]:
SELECT * FROM actor;
SELECT first_name, last_name FROM actor;
SELECT actor_id FROM actor;

SyntaxError: invalid syntax (<ipython-input-3-109f1d40ed5a>, line 1)

#### SELECT Challenge Task

In [4]:
SELECT first_name, last_name, email
FROM customer;

SyntaxError: invalid syntax (<ipython-input-4-2846c2818214>, line 1)

# DISTINCT Statement

In [5]:
#List different(distinct) values

In [6]:
#SELECT DISTINCT column_1, column_2
#FROM table_name;

#### Example: Postgres SQL dvdrental.tar file

In [7]:
SELECT DISTINCT release_year FROM film;
SELECT DISTINCT rental_rate FROM film; #Gives different values
SELECT rental_rate FROM film; #Gives all values

SyntaxError: invalid syntax (<ipython-input-7-ae16daa6fdc7>, line 1)

#### DISTINCT Challenge Task

In [8]:
SELECT DISTINCT rating
FROM film;

SyntaxError: invalid syntax (<ipython-input-8-9003526baacd>, line 1)

# WHERE Statement

In [1]:
#WHERE: Query particular rows from table
#For conditions use operators(similar to filtering)

In [ ]:
#SELECT column_1, column_2...column_n
#FROM table_name
#WHERE conditions;

#### Example WHERE

In [ ]:
SELECT last_name, first_name
FROM customer
WHERE first_name = 'Jamie' AND last_name = 'Rice';

SELECT customer_id, amount, payment_date
FROM payment
WHERE amount <= 1 AND amount => 8;

#### WHERE Challenge Task

In [2]:
SELECT email FROM customer
WHERE first_name = 'Nancy'
AND last_name = 'Thomas';

SELECT description FROM film
WHERE title = 'Outlaw Hanky';

SELECT phone FROM address
WHERE address = '259 Ipoh Drive';

SyntaxError: invalid syntax (<ipython-input-2-632e1d15dcc7>, line 1)

# COUNT Statement

In [ ]:
#COUNT: returns number of input rows that match a specific condition of a query
#COUNT(*) 
#SELECT COUNT(column) FROM table_name;
#**It doesn't consider null values