# Comprehensions

In [1]:
l = []

for letter in 'word':
    l.append(letter)
print(l)

['w', 'o', 'r', 'd']

In [2]:
lst = [letter for letter in 'word']
lst

['w', 'o', 'r', 'd']

In [3]:
lst = [x**2 for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
lst = [number for number in range(11) if number % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [5]:
lst = []

for number in range(11):
    if number % 2 == 0:
        lst.append(number)
lst

[0, 2, 4, 6, 8, 10]

In [6]:
celsuis = [0,10,20.1,34.5]

fahrenheit = [temp for temp in celsuis]
fahrenheit

[0, 10, 20.1, 34.5]

In [7]:
fahrenheit = [(temp * (9/5) + 32) for temp in celsuis]
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [8]:
lst = [x**2 for x in range(11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#Final result is x**4 for num in range(11)

lst = [x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]