# For Loops

For loops acts as an iterator, goes through items that are in a sequence.

In [1]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [2]:
for element in l:
    print(element)

1
2
3
4
5

In [3]:
for num in l:
    print(num)

1
2
3
4
5

In [4]:
for num in l:
    print('something!')

something!
something!
something!
something!
something!

In [5]:
10 % 3

1

% = Modulo(It's division and result is the remainder)

In [6]:
18 % 7

4

In [7]:
4 % 2

0

In [8]:
7 % 2

1

In [9]:
l

[1, 2, 3, 4, 5]

In [10]:
for num in l:
    if num % 2 == 0:
        print(num)

2
4

In [11]:
for num in l:
    if num % 2 == 1:
        print(num)

1
3
5

In [12]:
for num in l:
    if num % 2 == 0:
        print("Here is an even number")
    else:
        print("Odd number!")

Odd number!
Here is an even number
Odd number!
Here is an even number
Odd number!

In [13]:
for num in l:
    if num % 2 == 0:
        print(num)
    else:
        print("Odd number!")

Odd number!
2
Odd number!
4
Odd number!

In [14]:
l

[1, 2, 3, 4, 5]

In [15]:
list_sum = 0

for num in l:
    list_sum = list_sum + num
    
print(list_sum)

15

In [16]:
s = 'This is a string!'

In [17]:
for item in s:
    print(item)

T
h
i
s

i
s

a

s
t
r
i
n
g
!

In [18]:
for letter in s:
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
!

In [19]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [20]:
for item in tup:
    print(item)

1
2
3
4
5

In [21]:
l = [(2,4),(6,8),(10,12)]
l

[(2, 4), (6, 8), (10, 12)]

In [22]:
l[0]

(2, 4)

In [23]:
l[0][0]

2

In [24]:
l[2][0]

10

In [25]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [26]:
for (t1,t2) in l:
    print(t1)

2
6
10

In [27]:
for (t1,t2) in l:
    print(t2)

4
8
12

In [28]:
for (t1,t2) in l:
    print(t1-t2)

-2
-2
-2

In [29]:
for (t1,t2) in l:
    print(t1+t2)

6
14
22

In [30]:
d = {'k1':1, 'k2':2, 'k3':3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [31]:
for item in d:
    print(item)

k1
k2
k3

In [32]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3