## Print Formatting

In [1]:
print('This is a string')

This is a string

In [2]:
x = 'String'

print('Place my variable here: %s' %(x))

Place my variable here: String

%s is used for strings

In [3]:
x = 123

print('Place my variable here: %s' %(x))

Place my variable here: 123

In [4]:
x = 13.13

print('Place my variable here: %s' %(x))

Place my variable here: 13.13

In [5]:
print('Floating point number: %1.2f' %(13.145))

Floating point number: 13.14

The 1 represents the total minimum number of digits the string should contain and 2 represents how many numbers are displayed after the decimal point

In [6]:
print('Floating point number: %1.3f' %(13.145))

Floating point number: 13.145

In [7]:
print('Floating point number: %1.10f' %(13.145))

Floating point number: 13.1450000000

In [8]:
print('Floating point number: %25.3f' %(13.145))

Floating point number:                    13.145

In [9]:
print('Floating point number: %1.3f' %(13.145))

Floating point number: 13.145

In [10]:
print('Convert to string %s' %(123))

Convert to string 123

In [11]:
print('Convert to string %r' %(123))

Convert to string 123

You can use %s or %r, but both use different functions such as str function and repr function

In [12]:
print('First: %s, Second: %s, Third: %s' %('hi!', 'two', 3))

First: hi!, Second: two, Third: 3

In [13]:
print('First: %s, Second: %s' %(2,2))

First: 2, Second: 2

In [14]:
print('First: {x} Second: {x}'.format(x='inserted'))

First: inserted Second: inserted

.format is the print formatting method

In [15]:
print('First: {x} Second: {y} Third: {x}'.format(x='inserted', y='two!'))

First: inserted Second: two! Third: inserted

{variable name} and the .format(defines each variable)

In [16]:
print('One: {x}'.format(x='INSERT!'))

One: INSERT!